<ion-menu id="loggedOutMenu" [content]="content">
  <ion-header>
    <ion-toolbar primary>
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-list>
      <button ion-item *ngFor="let p of pages" (click)="openPage(p)">
        {{p.title}}
      </button>

      <button ion-item menuClose detail-none>
        Close menu
      </button>
    </ion-list>
  </ion-content>
</ion-menu>

<ion-menu id="loggedInMenu" [content]="content">
  <ion-header>
    <ion-toolbar primary>
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-list>
      <ion-list-header>
        <ion-icon name="contact"></ion-icon>
        {{loggedUser}}
      </ion-list-header>
      <button ion-item *ngFor="let p of protectedPages" (click)="openPage(p)">
        {{p.title}}
      </button>
      <button ion-item (click)="logout()">
        Logout
      </button>

      <button ion-item menuClose detail-none>
        Close menu
      </button>
    </ion-list>
  </ion-content>
</ion-menu>

<ion-nav [root]="rootPage" #content swipe-back-enabled="true"></ion-nav>
